<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title th:text="상세"></title>
</head>

<body>
<th:block layout:fragment="content">
  <h1>1</h1>
  <div id="content-box">
    <div>글번호 : <span th:text="${bloodDonation.id}"></span></div>
    <div>등록 일시 : <span th:text="${bloodDonation.date}"></span></div>
    <div>수정 일시 : <span th:text="${bloodDonation.count}"></span></div>
    <div>수정 일시 : <span th:text="${bloodDonation.availableDate}"></span></div>
  </div>
  <div>
    <button id="update" type="button">수정</button>
    <button id="remove" type="button">삭제</button>
  </div>
</th:block>

<th:block layout:fragment="script">
  <script type="text/javascript">
  </script>
</th:block>
<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*]]*/
  </script>
</th:block>
</body>
</html>
